<?xml version="1.0" encoding="UTF-8"?>

<plugin>
   <class>org.mos.openfire.plugin.ServerInfoPlugin</class>
   <name>ServerInfo</name>
   <description>Display server informations, like number of online users or number of server sessions.</description>
   <author>Marcelo Hartmann Terres</author>
   <version>0.4.1</version>
   <date>08/30/2015</date>
   <minServerVersion>3.10.0</minServerVersion>

   <adminconsole>
        <tab id="tab-server">
            <sidebar id="sidebar-server-settings">
                <item id="serverinfo-form" name="ServerInfo Properties" url="serverinfo-form.jsp" description="Settings for ServerInfo" />
            </sidebar>
      </tab>
   </adminconsole>

</plugin>
